body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.primary {
  color: #89B829!important;
}
.secondary {
  color: #FF6232!important;
}
.light {
  color: #F0F8EA !important;
}
.light-primary {
  color: #C9EC83!important;
}
.light-secondary {
  color: #FFA98F!important;
}
.dark {
  color: #212529!important;
}

.bg-primary {
  background-color: #89B829!important;
}
.bg-secondary {
  background-color: #FF6232!important;
}
.bg-light {
  background-color: #F0F8EA!important;
}
.bg-light-primary {
  background-color: #C9EC83!important;
}
.bg-light-secondary {
  background-color: #FFA98F!important;
}
.bg-dark {
  background-color: #212529!important;
}

.text-primary {
  color: #89B829!important;
}
.text-secondary {
  color: #FF6232!important;
}
.text-light {
  color: #F0F8EA !important;
}
.text-light-primary {
  color: #C9EC83!important;
}
.text-light-secondary {
  color: #FFA98F!important;
}
.text-dark {
  color: #212529!important;
}

.border-primary {
  border: 5px solid #89B829!important;
  border-radius: 50%!important;
}
.border-secondary {
  border: 5px solid #FF6232!important;
  border-radius: 50%!important;
}
.border-light-primary {
  border: 5px solid #C9EC83!important;
  border-radius: 50%!important;
}
.border-light-secondary {
  border: 5px solid #FFA98F!important;
  border-radius: 50%!important;
}
.border-light {
  border: 5px solid #F0F8EA!important;
  border-radius: 50%!important;
}
.border-dark {
  border: 5px solid #212529!important;
  border-radius: 50%!important;
}
.border-small {
  border-width: 3px!important;
}

hr {
  border-color: #89B829;
  max-width: 50px;
  border-width: 3px;
}

hr.light {
  border-color: #F0F8EA;
}

hr.secondary {
  border-color: #FF6232;
}

hr.dark {
  border-color: #212529;
}

a {
  color: #C9EC83;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover {
  color: #89B829;
}

a.secondary {
  color: #FF6232;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}
section.smaller {
  padding: 4rem 0 !important;
}

.section-heading {
  margin-top: 0;
  font-weight: bold;
  text-transform: uppercase;
}

::-moz-selection {
  color: #F0F8EA;
  background: #434C55;
  text-shadow: none;
}

::selection {
  color: #F0F8EA;
  background: #434C55;
  text-shadow: none;
}

img::selection {
  color: #F0F8EA;
  background: transparent;
}

img::-moz-selection {
  color: #F0F8EA;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #F0F8EA;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
#mainNav.navbar-dark {
  background-color: #212529;
}

#mainNav .navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #434c55;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand span {
  font-size: 1rem;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #FF6232 !important;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #434C55;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #FF6232 !important;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #FF6232 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav,
  #mainNav.navbar-dark {
    border-color: transparent;
    background-color: transparent;
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }

  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1) !important;
    background-color: #F0F8EA;
  }
  #mainNav.navbar-shrink.navbar-dark {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1) !important;
    background-color: #212529;
  }
}

#mainNav.stay-shrinked {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1) !important;
  background-color: #F0F8EA;
}
#mainNav.stay-shrinked.navbar-dark {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1) !important;
  background-color: #212529;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url('../img/headshot.jpg');
  background: linear-gradient(rgba(255,255,255,0.8), rgba(240,248,234,0)), url('../img/headshot.jpg');
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead.video {
  background-image: none;
  background: linear-gradient(rgba(33,37,41,1), rgba(0,0,0,0));
  height: 100vh;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
  text-shadow: 2px 2px 10px #000;
}

header.masthead p {
  font-weight: 300;
}

header.mt-5 {
  margin-top: 5rem!important;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
  #mainNav.navbar-brand {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }

  #pause-icon {
    font-size: 12em!important;
  }
}

.service-box {
  max-width: 400px;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px !important;
  -webkit-appearance: button-bevel !important;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-circle {
  border-radius: 50% !important;
}

.btn.bg-light:hover {
  background-color: #FF6232!important;
}
.btn.bg-light.active {
  background-color: #FF6232!important;
}

@keyframes flower {
    from {
      transform: scale(.9,.9);
    }
    to {
      transform: scale(1,1);
    }
}
.flower {
  width: 199px;
  height: 199px;
  -webkit-box-shadow: 0px 0px 0px 5px #C9EC83;
  -moz-box-shadow: 0px 0px 0px 5px #C9EC83;
  box-shadow: 0px 0px 0px 5px #C9EC83;

  animation-name: flower;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
}

#pause-button, #pause-button-corpo {
  background-color: #F0F8EA;
  padding: .375em .375em !important;
}

@keyframes breath {
    from {
      font-size: 6em;
      transform: scale(1.2,1.2);
    }
    to {
      font-size: 6em;
      transform: scale(2,2);
    }
}

#pause-icon {
  animation-name: breath;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
}

#pause-button > i,
#pause-button-corpo > i {
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  transition: color .5s;
}

#pause-button:hover > i {
  color: #FF6232 !important;
}
#pause-button-corpo:hover > i {
  color: #89B829 !important;
}

@media (max-width:575.98px){
  #mainNav .navbar-brand {
    font-size: 1rem;
  }
  #mainNav .navbar-brand span {
    display: none;
  }
  video {
    margin-left: 75% !important;
  }
}
@media (min-width: 576px) and (max-width:767.98px){
  #mainNav .navbar-brand {
    font-size: 1rem;
  }
  #mainNav .navbar-brand span {
    font-size: .9rem;
  }
  video {
    margin-left: 50% !important;
  }
}
@media (max-width:768px){
  .alert {
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    z-index: 1030;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
}
@media (min-width:769px){
  .alert {
    display: none;
  }
}

@keyframes to-white-color {
  100% { color: #ffffff; font-weight: bold; }
}
.to-white-color {
  animation: to-white-color 1s;
  animation-fill-mode: forwards;
}

@keyframes to-primary-color {
  100% { color: #89B829; font-weight: bold; }
}
.to-primary-color {
  animation: to-primary-color 1s;
  animation-fill-mode: forwards;
}

@keyframes to-secondary-color {
  100% { color: #FF6232; font-weight: bold; }
}
.to-secondary-color {
  animation: to-secondary-color 1s;
  animation-fill-mode: forwards;
}

#services {
  background: url(../img/grass.png);
}

#testimonies {
  background: url(../img/testimony.png);
}

.fa-caret-down {
  color: #F0F8EA;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  transition: color .2s;
}
.fa-caret-down:hover {
  color: #FF6232;
  cursor: pointer;
}
.fa-caret-up {
  color: #F0F8EA;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  transition: color .2s;
}
.fa-caret-up:hover {
  color: #FF6232;
  cursor: pointer;
}

.big {
  font-size: 1.2rem;
  color: #FF6232;
}

#quote {
  font-family: 'Gloria Hallelujah', cursive;
}

.modal-body a {
  color: #89B829;
}
p.my-0 strong {
  color: #89B829!important;
}

.btn-social-icon {
  color: #212529!important;
  font-size: 1rem!important;
}
.btn-social-icon:hover {
  color: #FF6232!important;
}

#share-buttons {
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #C9EC83!important;
}

.w-33 {
  width: 33% !important;
}
.w-78 {
  width: 78% !important;
}

.fa-1-5x {
    font-size: 1.5em;
}

.header-video {
  position: fixed;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-image: none;
}

video {
  height: 100vh;
  object-fit: cover;
}
