<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-light border-right d-flex align-items-center">
      <button [routerLink]="'/ninja-selection'" class="btn btn-success btn-circle p-5">
        <i class="fas fa-9x fa-user-ninja"></i>
      </button>
    </div>
    <div class="col-10">
      <div class="row justify-content-center mt-5 mb-3">
        <div class="col-3 text-center">
          <button [routerLink]="'/player-home'" class="btn btn-danger btn-circle p-5">
            <i class="fas fa-6x fa-shield-alt"></i>
          </button>
          <h2>
            Battle
          </h2>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-3 text-center">
          <button [routerLink]="'/player-home'" class="btn btn-success btn-circle p-5">
            <i class="fas fa-6x fa-book"></i>
          </button>
          <h2>
            Skills
          </h2>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-3 text-center">
          <button [routerLink]="'/player-home'" class="btn btn-primary btn-circle p-5">
            <i class="fas fa-6x fa-shopping-cart"></i>
          </button>
          <h2>
            Shop
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
