<h2 class=" text-center text-white mb-5">Choose your ninja</h2>
<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-4">
      <div *ngFor="let player of players" class="row">
        <div class="img-container"
        routerLink="/fight/{{battle.id}}/{{player.id}}/{{enemy.id}}">
          <img src={{player.image}} class="img-fluid"/>
          <div class="middle">
            <div class="text text-white">{{player.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 align-self-center">
      <h3 class="text-danger">VS</h3>
    </div>
    <div class="col-4 align-self-center">
      <img src={{enemy.image}} class="img-fluid"/>
    </div>
  </div>
</div>
