<div style="text-align:center">
  <h1 class="m-5">
    Choose Your Ninja!
  </h1>
  <div class="row">
    <div class="col-4">
      <button [routerLink]="'/player-home'" class="btn btn-primary btn-circle p-5">
        <i class="fas fa-9x fa-user-ninja"></i>
      </button>
      <p class="mt-3">
        Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa amicorum! precari ab indigno, supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in nostris rebus non satis honeste, in amicorum fiunt honestissime; multaeque res sunt in quibus de suis commodis viri boni multa detrahunt detrahique patiuntur, ut iis amici potius quam ipsi fruantur.
      </p>
    </div>
    <div class="col-4">
      <button [routerLink]="'/player-home'" class="btn btn-danger btn-circle p-5">
        <i class="fas fa-9x fa-user-ninja"></i>
      </button>
      <p class="mt-3">
        Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa amicorum! precari ab indigno, supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in nostris rebus non satis honeste, in amicorum fiunt honestissime; multaeque res sunt in quibus de suis commodis viri boni multa detrahunt detrahique patiuntur, ut iis amici potius quam ipsi fruantur.
      </p>
    </div>
    <div class="col-4">
      <button [routerLink]="'/player-home'" class="btn btn-success btn-circle p-5">
        <i class="fas fa-9x fa-user-ninja"></i>
      </button>
      <p class="mt-3">
        Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa amicorum! precari ab indigno, supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in nostris rebus non satis honeste, in amicorum fiunt honestissime; multaeque res sunt in quibus de suis commodis viri boni multa detrahunt detrahique patiuntur, ut iis amici potius quam ipsi fruantur.
      </p>
    </div>
  </div>
</div>
