<div *ngIf="!playerSelected">
  <h2 class=" text-center text-white mb-5">Choose your <span class="text-gold">ninja</span></h2>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div *ngFor="let ninja of ninjas" class="col-4">
        <div class="img-container m-1"
          (click)="selectPlayer(ninja)">
          <img src={{ninja.image}} class="img-fluid"/>
          <div class="middle">
            <div class="text text-white">{{ninja.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="playerSelected" [@flyInOut]="inOrOut">
  <h2 class="text-center text-white mb-5">Choose your <span class="text-gold">opponent</span></h2>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div *ngFor="let ninja of ninjas" class="col-4">
        <div class="img-container m-1"
          (click)="selectOpponent(ninja)">
          <img src={{ninja.image}} class="img-fluid"/>
          <div class="middle">
            <div class="text text-white">{{ninja.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
