/* DashboardComponent's private CSS styles */
h1 {
  text-align: center; margin-bottom: 0;
}
.bg {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
