<div id="share-buttons" class="row col-12-lg justify-content-center">
    <!-- Facebook -->
    <div class="col-2">
      <a href="http://www.facebook.com/sharer.php?u=#currentUrl"
      target="_blank" class="btn btn-social-icon">
        <span class="fab fa-facebook"></span>
      </a>
    </div>
    <!-- Google+ -->
    <div class="col-2">
      <a href="https://plus.google.com/share?url=#currentUrl"
      target="_blank" class="btn btn-social-icon">
        <span class="fab fa-google-plus-g"></span>
      </a>
    </div>
    <!-- Twitter -->
    <div class="col-2">
      <a href="https://twitter.com/share?url=#currentUrl&amp;text=HeadPause&amp;hashtags=HeadPauseMtl"
      target="_blank" class="btn btn-social-icon">
        <span class="fab fa-twitter"></span>
      </a>
    </div>
    <!-- LinkedIn -->
    <div class="col-2">
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=#currentUrl"
      target="_blank" class="btn btn-social-icon">
        <span class="fab fa-linkedin"></span>
      </a>
    </div>
    <!-- Reddit -->
    <div class="col-2">
      <a href="http://reddit.com/submit?url=#currentUrl"
      target="_blank" class="btn btn-social-icon">
        <span class="fab fa-reddit-alien"></span>
      </a>
    </div>
</div>
