<div class="container text-center">
  <div class="row justify-content-center">
    <h3 class="text-white">{{title}}</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <img src={{playerNinja.image}} class="img-fluid"/>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar"
        [ngStyle]="{'width': playerNinja.health.percent + '%'}"
        [attr.aria-valuenow]="playerNinja.health.now"
        aria-valuemin="0" [attr.aria-valuemax]="playerNinja.health.max">
          health: {{playerNinja.health.now}} / {{playerNinja.health.max}}
        </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar"
      [ngStyle]="{'width': playerNinja.chakra.percent + '%'}"
      [attr.aria-valuenow]="playerNinja.chakra.now"
      aria-valuemin="0" [attr.aria-valuemax]="playerNinja.chakra.max">
        chakra: {{playerNinja.chakra.now}} / {{playerNinja.chakra.max}}
      </div>
    </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3">
      <img src={{opponentNinja.image}} class="img-fluid"/>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar"
        [ngStyle]="{'width': opponentNinja.health.percent + '%'}"
        [attr.aria-valuenow]="opponentNinja.health.now"
        aria-valuemin="0" [attr.aria-valuemax]="opponentNinja.health.max">
          health: {{opponentNinja.health.now}} / {{opponentNinja.health.max}}
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar"
        [ngStyle]="{'width': opponentNinja.chakra.percent + '%'}"
        [attr.aria-valuenow]="opponentNinja.chakra.now"
        aria-valuemin="0" [attr.aria-valuemax]="opponentNinja.chakra.max">
          chakra: {{opponentNinja.chakra.now}} / {{opponentNinja.chakra.max}}
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="btn-group-vertical">
        <div *ngFor="let action of playerNinja.getActions()">
          <button (click)="playerPlays(action)"
          class="mx-auto mt-3 btn btn-warning"
          [attr.disabled]="playerNinja.chakra.now < action.chakra ? '' : null"
          [attr.disabled]="isDecisionActive ? '' : null">
            <img class="w-100" src={{action.image}}/>
          </button>
          <div class="bg-warning">
            <div class="bg-danger text-white" *ngIf="action.damage > 0">dmg: {{action.damage}}</div>
            <div class="bg-success text-white" *ngIf="action.defence > 0">def: {{action.defence}}</div>
            <div class="bg-primary text-white" *ngIf="action.chakra > 0">chkr: {{action.chakra}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div *ngIf="isDecisionActive">
        <button class="mx-auto btn disabled">
          <img class="w-100" src={{playerAction.image}}/>
        </button>
      </div>
    </div>
    <div class="col-3">
      <div *ngIf="isDecisionActive">
        <button class="mx-auto btn disabled"
        *ngIf="opponentAction.name != ''">
          <img class="w-100" src={{opponentAction.image}}/>
        </button>
        <button class="mx-auto btn disabled"
        *ngIf="opponentAction.name == ''">
          Skip
        </button>
      </div>
    </div>
    <div class="col-3">
      <div class="btn-group-vertical">
        <div *ngFor="let action of opponentNinja.getActions()">
          <button class="mx-auto mt-3 btn btn-warning disabled">
            <img class="w-100" src={{action.image}}/>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
